extends layout
block content
 h1= title
 - let birdsid = toShow._id
 - let birdsname = toShow.Name
 - let birdscolor = toShow.color
 - let birdsAge = toShow.Age
 div.row(class='mb-2')
  div.mr-1 ID is
  div #{birdsid}
 - let actionid = "/resource/birds/" + birdsid
 form(id='birdsForm', action= actionid, method="PUT")
  div.form-group
   label.birdsAttr(for='birdsname') Birds Name
   input#Name(type='text', name='Name', value= birdsname )
  div.form-group
   label.birdsAttr(for='birdscolor') Birds color 
   input#color(type='text', name='color', value= birdscolor )
  div.form-group
   label.birdsAttr(for='birdsAge') Birds Age 
   input#Age(type='number', name='Age', value= birdsAge )
  input(type="submit")

 script.
  document.forms['birdsForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'PUT',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Update succeded")
    // TODO handle body
   }).catch((error) => {
    // TODO handle error
    alert("Update failed " + error )
   });
   });