extends layout

block content
  h1= title
  
  - let results = [{ Name : 'Humming Bird', color : 'Green', Age : 2 },{ Name: 'Hawk', color: 'Brown', Age: 5 },{ Name: 'Wren', color: 'white', Age: 10 }]
 
  .container-fluid
    .row
      each item in results
        .col-sm-2
          p Name: #{item.Name}
          p color: #{item.color}
          p Age:#{item.Age}
         
  a(href="http://localhost:3000/birds") Link to Endpoint