body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.birdsAttr {
  background-color: aquamarine;
  width: 120px;
  }
h2{
  background-color:beige;
  color:#00B7FF;
  font-size:small;
  font: bold;
}
  
